[2016-07-14 20:27] jeffwhelpley opened #2 "Preboot buffer doesn't start angular2 app after rendering"
Transfer of issue for @jaumard from https://github.com/angular/universal/issues/482
- **I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support request here, see note at the top of this template.
- **What is the current behavior?**
  When we load a page, server rendering render the page correctly (the first time only because of this bu ht

[2016-07-14 20:31] jeffwhelpley opened #3 "Remove typings - use TS2 @types"

[2016-07-14 20:51] jeffwhelpley opened #4 "Preboot with buffer true causes crash"
Transferred over from https://github.com/angular/universal/issues/458. Originally entered by @sittingbool

**Note: for support questions, please use one of these channels:** https://github.com/angular/universal/blob/master/CONTRIBUTING.md#question. This repository's issues are reserved for feature requests and bug reports.

* **I'm submitting a ...**
- [x ] bug report
- [ ] feature request
- [ ] s

[2016-07-14 20:52] jeffwhelpley commented on #4
@MarkPieszak response to this (transferred from universal repo): @sittingbool The starter has undergone some big changes in the past few days, can you give it a shot with the Latest one? Just pulled a fresh one down (angular rc3, universal 104.1, etc).

In the server.ts I changed: preboot: { appRoot: 'app', buffer: true }

It seemed to work fine, it might be that you're on a slightly older one? Le

[2016-07-14 22:32] MarkPieszak commented on #3
Can help with this one if you'd like @jeffwhelpley

[2016-07-23 17:23] paullryan opened #5 "Dist preboot_inline from preboot_node incorrect"
Looks like a build step is breaking when creating dist/preboot_node.js it's including the src relative path of `require('../inline/preboot_inline')` at https://github.com/angular/preboot/blob/master/dist/preboot_node.js#L2.

It should instead have been resolved to the dist relative path of `require('./preboot_inline')`

[2016-07-26 10:31] mickael-kerjean opened #6 "preboot with appRoot being the root HTML tag"
Hello,

I'm trying do make some basic seo with an angular application.
My index.html is:
[code]
The application root component from a universal perspective is the html component.

The issue is the preboot code is append after the closing html tag which makes preboot unavailable to the global scope:
[code]

In this case, it should generate:
[code]

Is there a trick to make it work?
I tried to load

[2016-07-26 13:05] jeffwhelpley commented on #5
Ah, yes, that is an issue. I mistakenly was publishing preboot_node to the dist root dir. I have now corrected the issue. Please get the latest.

[2016-07-26 13:05] #5 closed

[2016-07-26 15:06] jeffwhelpley commented on #6
Hi. I am in the middle of trying to integrate the latest preboot to the latest universal. If you want an interim workaround for your issue, do the following:

1. Turn preboot off in your universal settings (i.e. `preboot: false`)
2. Get the latest preboot (currently 4.0.3)
3. Literally just copy `dist/preboot_inline.min.js` into the head of your index.html
4. Right after the copied inline code, in

[2016-08-01 16:23] zakhenry commented on #3
Why would this be needed? @types is a compatibility service for applications not written in typescript. For proper typings compatibility all preboot needs is to have the original source files ignored

[2016-08-01 16:43] MarkPieszak commented on #3
I suppose just to use the latest/greatest with TS2.0 which deprecates the use of typings ?

[2016-08-01 16:45] zakhenry commented on #3
Yea just looking into this now, *probably* best to await TS2.0 general release as there are a some blockers (tsdoc being one annoying one with only a [hacky fix](https://github.com/TypeStrong/typedoc/issues/234#issuecomment-235839922)

[2016-08-09 14:17] MarkPieszak opened #12 "Preboot 4.3 - cannot find module 'preboot' - Ng_preboot (Universal)"
Preboot 4.3 : from https://github.com/angular/universal-starter/issues/142
(Here for reference)

It works well before updating preboot, after updating preboot to v4.3.0, got error:

module.js:442
throw err;
^

Error: Cannot find module 'preboot'
at Function.Module._resolveFilename (module.js:440:15)
at Function.Module._load (module.js:388:25)
at Module.require (module.js:468:17)
at require (intern

[2016-08-11 19:02] jeffwhelpley commented on #12
This is resolved now. I am working on integration with universal now.

[2016-08-11 19:02] #12 closed

[2016-08-12 03:23] jeffwhelpley commented on #3
Just added this.

[2016-08-12 03:23] #3 closed

[2016-08-18 22:07] gdi2290 opened #16 "provide option to manually complete preboot"
`preboot.complete()`

right now it checks for `document.body` then creates a loop using `setTimeout`

[2016-08-18 22:50] gdi2290 opened #17 "use graceful-fs"

[2016-08-18 22:52] gdi2290 opened #18 "provide a way to prime inline code"
currently `getInlineCode` initially takes a large amount of time on the server compared to Angular2 bootstrapping.

[2016-08-18 23:01] gdi2290 opened #19 "don't block the event loop in node"
we can't use fs sync methods. Only use them to prime a cache so when we boot a node server instance

[2016-08-19 01:24] jeffwhelpley commented on #19
What is the situation where you would need to call getInlineCode() more than one time when the server is starting up?

[2016-08-19 01:24] jeffwhelpley commented on #18
This should only be called one time when the server starts up, so this should not matter. Why would it need to be called multiple times?

[2016-08-19 01:26] jeffwhelpley commented on #16
Do you mean init()? preboot.complete() is only in the browser code and shouldn't be inlined.

[2016-08-20 02:25] gdi2290 commented on #16
How do you tell preboot to swap the views once the framework is ready. For example, on mobile if you're typing in an input and the client is bootstrapped you want to avoid doing dom until focus change or enter. You need to do this to avoid the keyboard showing up twice during the swap.

[2016-08-24 04:19] jeffwhelpley commented on #16
OK, so you are right for this particular situation where we want to defer preboot.complete() we will need to make an adjustment. @gdi2290 I don't suggest you stop from your integration with universal and updates to rc5. I will add a fix for this once I get back next week. Let me know, though, if there is something that is actually blocking you. Understood about this use case, but other than that,

[2016-09-07 03:37] gdi2290 commented on #16
how do I remove the loading overlay without `preboot.complete()`?
https://github.com/angular/preboot/blob/e372ae16fc6c74d315e7e909f4cf3c6764fd85bc/src/inline/preboot_inline.ts#L287...L290

[2016-09-07 12:41] jeffwhelpley commented on #16
@gdi2290 FYI, I just published a new version of preboot that should have all you need.

To start preboot via inline code, most of the time you just call `init()` and let it loop until the DOM is ready, BUT if you want to do it manually, simply add `start()` right after `init()`. I added something to `start()` that ensures it will only run the preboot start code once so you can call it as many time

[2016-09-09 17:21] gdi2290 commented on #16
@jeffwhelpley what version of preboot has complete?

[2016-09-09 19:15] jeffwhelpley commented on #16
Use `4.5.2`. Note, however, that `complete()` is on the preboot browser code, NOT the inline code. To call this you have to do:

[code]

I know the API is a little wonky but that ultimately is because I wanted to avoid downstream dependencies in the preboot lib. So, the browser code is very simply one exported function. Just use this for now and we can work on potential API improvements later.

[2016-09-09 21:11] gdi2290 commented on #16
how do I determine if there isn't preboot inlined?

[2016-09-09 21:14] gdi2290 commented on #16
prebootClient doesn't work since it's not exporting anything

[2016-09-09 21:20] gdi2290 commented on #16
I'm importing __build/src/browser/preboot_browser for now

[2016-09-10 01:56] jeffwhelpley commented on #16
Right...you can't do `var preboot = prebootClient();` ?

[2016-09-19 01:51] gdi2290 opened #21 "feat: selectors for element persistence"
allow selectors for elements that need to be transferred over from preboot to the angular rendered view.

use case: ADs

[2016-09-30 11:37] jeffwhelpley commented on #4
This appears to be fixed in the latest version.

[2016-09-30 11:37] #4 closed

[2016-09-30 11:40] jeffwhelpley commented on #6
OK, so preboot now works in the head tag. If you use the default Express Engine, it will still stick the script tag at the end of the body, but all  you have to do is mimic what is being done here:

https://github.com/angular/universal/blob/master/modules/express-engine/src/index.ts

But just put the inline preboot in the head.

[2016-09-30 11:40] #6 closed

[2016-09-30 12:36] jeffwhelpley commented on #16
Closing this as you can manually call `complete()` now.

[2016-09-30 12:36] #16 closed

[2016-09-30 17:23] jeffwhelpley commented on #17
Closing this since preboot should only be run once at server startup time. It is OK to have preboot be sync since it is a one time thing.

[2016-09-30 17:23] #17 closed

[2016-09-30 17:43] jeffwhelpley commented on #18
Closing since preboot should only be called once during system startup

[2016-09-30 17:43] #18 closed

[2016-09-30 17:56] #19 closed

[2016-09-30 18:04] jeffwhelpley commented on #21
Not really sure what this means. @gdi2290 can you provide a little more context.

[2016-09-30 18:25] jeffwhelpley commented on #21
oh, you mean hydration?

[2016-10-18 14:05] FrozenPandaz commented on #21
+1

[2016-10-18 15:44] gdi2290 commented on #21
the server rendered view needs to detach elements into a registry by element id then reattach the element via component during angular bootstrap. This can also be done outside of preboot manually by the developer.
[code]

[2016-10-19 14:43] FrozenPandaz commented on #21
If I read that correctly, it looks like you're trying to just appendChild (The Javascript way of moving elements) with the element from a server view/ registry onto the client view?

That breaks googletag ads and I think most iframes.

[2017-01-27 16:51] mozqt opened #25 "Documentation 404, not found."
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [ ] client side
- [ ] inline
- [ ] build process
- [x] docs
- [ ] tests

* **What is the current behavior?**

Documentation gives 404, not foun

[2017-04-07 00:55] jotto opened #27 "inject inlinePrebootCode in HEAD? or immediately after appRoot"
* **I'm submitting a ...**
- [x] bug report

* **Which parts of preboot are affected by this issue?**
- [x] server side
- [x] inline

According to the README:

But that doesn't work, at least, in the following cases:

* With Angular 2x auto bootstrap (using `ng-app` or `data-ng-app` attr on your app root), this inline script seems to only work at the very end of the `<body>` (presumably because An

[2017-04-10 06:59] jotto commented on #2
I _think_ I have a similar issue with Angular 1.x, but was strangely able to resolve it but putting a view inside the app container.

## fails
[code]

## works
[code]
but this _experiment_ required a `preboot-inline` modification:

[code]

[2017-04-11 00:33] jeffwhelpley commented on #2
I am working on a pretty significant refactor of preboot now to make it easier to integrate with ng v4. I know this issue is for v1.x, but I will revisit this once v4 is out.

[2017-04-11 00:34] jeffwhelpley commented on #27
Hi, @jotto. I will have a major refactor of preboot that will work better with v4 shortly. Stay tuned.

[2017-04-11 01:32] jotto commented on #2
an update to my previous comment:

instead of creating an `ng-view` for Angular v1.x, I changed the `preboot-inline` to do a deep clone: `cloneNode(true)` instead of a shallow clone.

[2017-04-25 06:47] kaynz commented on #27
@jeffwhelpley That sounds great! Do you have an ETA for us?

[2017-05-12 20:05] tstirrat15 opened #29 "notSupportedError on event creation for certain events in IE 11"
* **I'm submitting a ...**
bug report

* **Which parts of preboot are affected by this issue?**
client side

* **Do you want to request a *feature* or report a *bug*?**
Bug

* **What is the current behavior?**
I received a Sentry error for `notSupportedError` shortly after implementing preboot on my project. All of the errors came from IE11. After doing some research, it seems like it's an issue w

[2017-05-15 21:23] chrisnassouri commented on #27
@jeffwhelpley any ETA on the refactor for v4?

[2017-05-16 09:19] jeffwhelpley commented on #27
@chrisnassouri sorry about the delay. work projects have been eating into my fun open source time ;-)   I will get something out for this by next week.

[2017-05-19 10:06] OEvgeny commented on #27
Is there some guide to set up current preboot with ng4 or should I wait patiently for new preboot version to use it with ng4?

Thank you!

[2017-05-19 12:17] jeffwhelpley commented on #27
@OEvgeny so, the current version of preboot definitely works with ng4 (I have it working locally), but unfortunately there is no guide. You sort of have to hack it yourself using the info from the README: https://github.com/angular/preboot

This works perfectly fine, but the big issue is that the developer ergonomics for using this are totally gross since you need to essentially hack some JS outsi

[2017-05-19 14:04] OEvgeny commented on #27
@jeffwhelpley No need to apologise. It's totally ok. Thank you for response and for great work done!

[2017-05-19 19:13] jotto commented on #27
I integrated preboot into https://www.prerender.cloud/ and it's working great for Angular 2 and 4. cmd+f for preboot on https://www.prerender.cloud/documentation if you want to try it (you just add `prerendercloud-preboot-app-root` as an attr to your app root.

[2017-06-01 13:41] jeffwhelpley commented on #29
Hi, @tstirrat15. Can you send me the stack trace from Sentry? Preboot doesn't actually use `createEvent()`. It uses `dispatchEvent()` which I believe should be supported.

[2017-06-01 13:43] jeffwhelpley commented on #27
@jotto please try out v 5.0.0-rc.1 that I just relesed. You can read about it here: https://github.com/angular/preboot

Please let me know if that works for you.

[2017-06-01 13:43] jeffwhelpley commented on #25
I removed documentation other than the README but I added more information there. Let me know if that doesn't make sense.

[2017-06-01 13:43] #25 closed

[2017-06-01 13:45] jeffwhelpley commented on #21
I am going to close this because transferring elements is outside the scope of preboot for now. I think the ultimate solution for this is a hydration solution which we can work out outside of preboot.

[2017-06-01 13:45] #21 closed

[2017-06-01 13:46] jeffwhelpley commented on #2
This should be fixed with 5.0.0. Please try out 5.0.0-rc.1 or above.

[2017-06-01 13:46] #2 closed

[2017-06-01 14:02] chrisnassouri commented on #27
@jeffwhelpley sick! thanks, i'll try this out

[2017-06-02 16:21] tstirrat15 commented on #29
Stack trace:
[code]
which references this code:
[code]
User agent string:
[code]
I just realized too that the notSupportedErrors coming from non-mobile versions of IE 11 don't have attached stack traces (something something sentry error processing event), so I can't actually say for sure that they're coming from Preboot. They did only show up after implementing preboot.

[2017-06-03 15:03] mogusbi opened #31 "Cannot read property 'prebootData' of undefined"
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [x] client side
- [ ] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **What is the current behavior?**

I have added preboot to my angula

[2017-06-03 15:34] marekstabla commented on #31
It happens for me on AOT build. Window service is not injected properly in event replayer.

[2017-06-04 10:38] jeffwhelpley commented on #31
@marekstabla ok, this should be resolved. I decided to just get rid of the WindowRef abstraction altogether. So, now unless you explicitly set a mock object on the event replayer, it will use the actual DOM window object. Please let me know if rc.10 doesn't fix your issue.

[2017-06-04 10:41] jeffwhelpley commented on #27
@chrisnassouri note that we are up to `5.0.0-rc.10` after a flurry of fixes and other updates. I am going to close this issue because I am pretty sure this should be resolved now, but let me know if you are still having issues.

[2017-06-04 10:42] #31 closed

[2017-06-04 10:46] jeffwhelpley commented on #29
@tstirrat15 can you try out the latest preboot (version `5.0.0-rc.10`)? We are still using the same dispatchEvent, but according to this it is supported by IE 11:

http://caniuse.com/#feat=dispatchevent

[2017-06-04 12:24] mogusbi opened #32 "http requests being called twice"
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [x] server side
- [x] client side
- [ ] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**
Report a b

[2017-06-04 17:48] marekstabla commented on #32
@mogusbi Checkout transfer-state module here:
https://github.com/FrozenPandaz/ng-universal-demo/tree/master/src/modules

This is not preboot issue.

[2017-06-04 19:39] jeffwhelpley commented on #32
Yes, as @marekstabla mentions, you need to cache data between the server and client which requires the transfer state module. Preboot is just focused on the events between the server view and client view (i.e. if someone clicks on something in the server view before the client view finishes bootstrapping).

[2017-06-04 19:39] #32 closed

[2017-06-05 07:32] thebarada opened #33 "Error after click on checkbox"
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [x] client side
- [ ] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**
Bug

* **W

[2017-06-05 14:34] tstirrat15 commented on #29
@jeffwhelpley I just read the bit about the latest Preboot release being Angular-specific. I'm using Preboot on top of a React stack, so it sounds like updating won't work?

[2017-06-05 15:00] jeffwhelpley commented on #29
Hi, @tstirrat15, I am going to split preboot into two different repos/projects. Sorry for not communicating this clearly. This repo will only be dedicated to the Angular version. I will have the non-Angular version out in a separate repo and package by next week.

[2017-06-05 15:17] tstirrat15 commented on #29
Oh! Right on! Please keep me posted.

[2017-06-06 13:11] jeffwhelpley commented on #33
Ah, right. Will have fix for this in the next release.

[2017-06-19 08:09] thebarada commented on #33
hey guys
Could you say presumably when will next release?

[2017-06-19 12:34] jeffwhelpley commented on #33
Sorry for the delay. This issue is fixed now with `5.0.0-rc.11`.

[2017-06-19 12:34] #33 closed

[2017-06-19 12:37] thebarada commented on #33
@jeffwhelpley
thnx a lot
but when you planned release stable version (I mean non rc)?

[2017-06-19 12:44] jeffwhelpley commented on #29
Just wanted to let everyone know current status. Work has been insane the past week, so progress is slow but I did figure out a really good way to keep the project unified while still enabling usage without any Angular dependencies. Basically I am going to do a minor refactor so that the core guts remain dependency and there is just a separate import paths. So, for example, something like:

[code]

[2017-06-19 13:25] jeffwhelpley commented on #33
Ah, yes. We are just about ready. The last major thing is that I need to add an export for non-angular users per #29

I hope to have that wrapped up by next week.

[2017-06-19 13:27] thebarada commented on #33
@jeffwhelpley
ok, it is great
Looking forward to release)

[2017-06-19 13:30] tstirrat15 commented on #29
This looks totally awesome. Thank you for your work!

[2017-06-21 14:20] schippie commented on #27
@jeffwhelpley This sadly for me is still not working when using AUX routes. I have had it happen now that the second `router-outlet` isn't available yet when it fires meaning inputs etc. that are located within my `router-outlet (popup)` (which acts as a modal) are not seen nor handled.

[2017-06-21 14:39] schippie commented on #27
@jeffwhelpley the same thing happens after de application has been loaded. I was able to fix the loading problem by changing the init function within the preboot.js inline script:

[code]

Now the next problem is that once it starts up it again doesn't wait for my AUX route to be visible. The funny thing is though that the `focus` method within the `cleanup` method (which is triggered after a time

[2017-07-09 02:14] jeffwhelpley commented on #29
OK, just pushed in `preboot@5.0.0-rc.12` which has a non-Angular interface. Please look at the [README](README.md) for details on how to use it and let me know if there are any questions.

[2017-07-09 02:15] #29 closed

[2017-07-09 02:19] jeffwhelpley commented on #27
Hey, so with `preboot@5.0.0-rc.12` that just got published I modified the browser module so it [waits until the application is stable](https://github.com/angular/preboot/blob/master/src/browser/browser-preboot.module.ts#L20) before running `replayAll()`. Let me know if that helps.

[2017-07-09 02:19] #27 closed

[2017-07-10 14:53] chaosmonster opened #36 "Typescript compiler throws 'Cannot find require' error"
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [x] server side
- [ ] client side
- [ ] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**

*bug*

*

[2017-07-10 16:15] jeffwhelpley commented on #36
Interesting. Thanks for submitting this, @chaosmonster. I will put out a fix later this week.

[2017-07-21 14:23] Prafful-p commented on #36
facing same problem.
any solution or update on it @jeffwhelpley

[2017-07-21 15:04] jeffwhelpley commented on #36
Sorry, @Prafful-p, I got caught up with other work stuff this past week. I will have time this weekend.

[2017-07-21 23:44] not-only-code commented on #36
Check this out:
https://stackoverflow.com/questions/31173738/typescript-getting-error-ts2304-cannot-find-name-require

[2017-07-23 10:22] jeffwhelpley commented on #36
OK, so it is true that if you had `@types/node` as a dev dependency in your project it would fix this, but I added `declare var require: any;` regardless so that the user doesn't necessarily have to do this. Please re-test with the 5.0.0 release and let me know.

[2017-07-23 10:22] #36 closed

[2017-07-23 10:34] chaosmonster commented on #36
Thanks

[2017-07-31 09:39] dneeleman opened #37 "Cleanup PrebootOverlay after preboot finishes."
**Note: for support questions, please use the Universal Slack Channel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [ ] bug report
- [x] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [x] client side
- [ ] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**
Request a f

[2017-08-11 14:35] mogusbi opened #38 "inline.preboot.code.ts throws warning with Webpack"
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [ ] client side
- [ ] inline
- [x] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**
Bug

* **W

[2017-08-22 09:16] m98 opened #39 "Does preboot support Angular 4?"
* **I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [x] question

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [ ] client side
- [ ] inline
- [ ] build process
- [x] docs
- [ ] tests

I think the title is clear, and I want to ask if Preboot supports Angular 4 (or users should just use `platform-server`) then we need to specify that in docs, or talkin

[2017-09-06 10:49] Flood commented on #16
How can we call `complete()` on preboot 5.0.0? Using Angular 4.3.x

Seems that it's never called for me. I am using angular universal and the server rendered version looks good, but when it swaps I'll get two <app> instances, where the client version is `display:none` and the second version is missing some css.

[2017-09-06 12:20] jeffwhelpley commented on #16
@Flood ignore what is said earlier in this issue because the API for preboot 5+ is different. So, if you wanted preboot to automatically complete you would do this:

https://github.com/angular/preboot/blob/master/test/e2e/e2e.browser.module.ts#L14

If you want to manually complete simply change the preboot module reference to:

[code]

then somewhere else in your code (up to you decide where and w

[2017-09-09 22:16] iuliust commented on #39
I'm wondering the same thing.
[Here's my repo ](https://github.com/iuliust/semper)
Never managed to get preboot to work 😢

[2017-09-11 07:50] yunus-alkan commented on #39
me neither

[2017-09-11 10:55] LucasPaganini commented on #39
I would also like to see a boilerplate of Preboot with angular 4 the way they did in the Universal Rendering Story: https://github.com/angular/angular-cli/wiki/stories-universal-rendering

[2017-09-23 02:47] CaerusKaru opened #41 "bug(webpack): Typescript emitted no output"
* **I'm submitting a ...**
- [x] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [ ] client side
- [ ] inline
- [x] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**

Bug report

* **What is the current behavior?**

* **If the current behavior is a bug, please provide the steps to reprodu

[2017-09-27 16:00] jackbliss99 opened #42 "Add lifecycle hook for BufferSwitchComplete"
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [ ] bug report
- [x] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [x] client side
- [ ] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**

Request a

[2017-09-28 09:13] jackbliss99 commented on #42
In case anyone has come here with a similar problem - i solved this by adding in an extra wrapping div and using a percentage based approach.

[2017-09-28 17:33] jeffwhelpley commented on #42
Ah, this is interesting. So, there must be something displayed on the server view, right? I suggest that you have that initial displayed in the client view as well and then only do the carosel calculation once preboot has switched the buffers.

[2017-09-28 17:34] jeffwhelpley commented on #41
I have not seen this one before. I will have time tomorrow to try this out and I will let you know.

[2017-09-28 17:34] jeffwhelpley commented on #39
Sure thing @LucasPaganini. I can throw something together later this weekend.

[2017-09-29 10:40] jackbliss99 commented on #42
i suppose that's exactly my problem - i don't know how to delay the calculation until the preboot switches. is there a way to trigger off the switch? is there a way to detect the switch? another solution i saw online was to use a setInterval to keep checking to see if the element has width yet, but as hacks go that's extreeeeemely hackey.

[2017-09-29 12:57] jeffwhelpley commented on #42
The setInterval thing would work, but that is hacky. The solution is to add a new event to preboot that you can listen for. I will add that.

[2017-09-29 13:51] jackbliss99 commented on #42
that's fantastic, thank you. the library is excellent, by the way!

[2017-10-02 03:49] iamonuwa commented on #41
@jeffwhelpley this error still persists

[2017-10-04 19:45] brexis commented on #41
Any idea on how to solve this?

[2017-10-04 20:10] jeffwhelpley commented on #41
Apologies. This is a solvable issue. I just haven't had time to dive in. Since there are now at least 3 people running into this, I will bump up the priority on my list and get to it later this week.

[2017-10-04 20:54] brexis commented on #41
@jeffwhelpley thank you

[2017-10-06 05:44] memboc opened #43 "window is not defined"
* **I'm submitting a ...**
- [x] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [x] server side
- [ ] client side
- [ ] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **What is the current behavior?**
Server side errors when loading page
[code]

* **If the current behavior is a bug, please provide the steps to reproduce**

angular universal follo

[2017-10-09 14:18] jeffwhelpley commented on #43
So, by your stack trace you are running replayEvents() on the server side which is causing the error. Where is your main.ts for the server? I suspect that somehow you are pointing your serve side entry point to the browser module instead of the server module.

[2017-10-09 14:18] #43 closed

[2017-10-09 15:00] jeffwhelpley commented on #41
hey, are you guys using ts-loader? what version of TypeScript? I started working on this today and will be publishing a new version of Preboot later tonight, but I could not recreate the error. It may be because this only affects certain versions of TypeScript:

https://github.com/TypeStrong/ts-loader/issues/278

[2017-10-09 16:03] CaerusKaru commented on #43
@jeffwhelpley is right. You need to create two separate App{EntryPoint}Module's, one for the browser and one for the server, both of which import `AppModule`. This way you can make sure your `preboot` imports are in the right place (otherwise the server ends up importing the Browser preboot module, causing the error above).

[2017-10-09 16:06] CaerusKaru commented on #41
Versions:
[code]

[2017-10-09 17:37] jeffwhelpley commented on #41
I am pushing out another version shortly, but I noticed that a fix to this is to very simply change this line in your webpack.server.config.js:

[code]

to this:

[code]

I am still testing now, though, and will post any additional fixes.

[2017-10-09 17:42] jeffwhelpley commented on #43
@CaerusKaru @memboc I just realized that more than likely the issue is that in the server module you are importing everything from the browser module. That unfortunately will not work with preboot. You do need to have two completely separate modules. I will think about a way to fix this, though, so other people don't run into the same issue.

[2017-10-09 22:04] jeffwhelpley commented on #43
FYI, check out `5.1.4`. I added a fix so that you can include the browser module with the server module and it won't break things anymore.

[2017-10-09 22:07] jeffwhelpley commented on #42
OK, check out `5.1.4`. After preboot is complete, an event called `PrebootComplete` is dispatched on `window.document`. So you can now do this:

[code]

[2017-10-09 22:07] #42 closed

[2017-10-09 22:08] jeffwhelpley commented on #41
OK, I just published new version `5.1.4` but I believe you do need to make the fix I mention above as well.

[2017-10-09 22:08] #41 closed

[2017-10-09 22:11] jeffwhelpley commented on #39
OK, so I have an example of this working here:

https://github.com/jeffwhelpley/universal-starter-preboot

I basically just took the latest universal-starter and tweaked it a little bit.

[2017-10-09 22:11] #39 closed

[2017-10-09 22:11] jeffwhelpley commented on #38
This should be fixed with `5.1.4`.

[2017-10-09 22:11] #38 closed

[2017-10-09 22:11] jeffwhelpley commented on #37
This is fixed with `5.1.4`

[2017-10-09 22:11] #37 closed

[2017-10-10 12:56] CSchulz commented on #39
The important changes are the new version of preboot (5.1.4) and resolve extension `".js", ".ts"`.

Is it possible to replace the hard-coded timeout?

[2017-10-10 13:40] jeffwhelpley commented on #39
@CSchulz which setTimeout?

[2017-10-10 13:55] CSchulz commented on #39
Forget about it. 😆
I haven't seen that it is used for demonstration reasons. In this moment I want to remove the question from my comment.

[2017-10-11 13:35] rplotkin opened #44 "Build error with angular/universal"
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [ ] client side
- [ ] inline
- [x] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**
Bug

* **W

[2017-10-21 00:02] CaerusKaru commented on #44
Duplicate of #41. Please see that issue for resolution instructions

[2017-10-21 01:39] CaerusKaru opened #45 "feat(csp): add nonce to preboot to avoid CSP conflict"
* **I'm submitting a ...**
- [x] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [ ] client side
- [x] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**

Bug report

* **What is the current behavior?**

Currently preboot injects a script into the HTML which is blocked from ru

[2017-10-21 01:43] CaerusKaru commented on #45
Realistically, the only way to implement this is if preboot pulls in an Optional provider that can be injected into the app when generated on the server

[2017-10-23 03:01] CaerusKaru commented on #45
cc @jeffwhelpley

[2017-10-23 12:08] jeffwhelpley commented on #45
@CaerusKaru thanks for bringing this to my attention. I had no idea this was a problem. I will put in a fix for this later in the week.

[2017-10-23 12:09] CaerusKaru commented on #45
@jeffwhelpley I already submitted a PR under #46 if you want to take a look. It works by allowing users to inject a NONCE token (since the server has to configure it to attach to the headers). Instructions for use are also in the PR

[2017-10-23 12:10] #45 closed

[2017-10-23 12:14] CaerusKaru commented on #45
@jeffwhelpley I hadn't thought of this at the time, but do you want me to document this feature somewhere? I could add it to the README or a separate entry in a docs folder?

[2017-10-23 12:25] jeffwhelpley commented on #45
OK, merged that in and added change on top of that to fix broken e2e tests (i.e. because need default value for nonce) and publish new version. Let me know if you see any other issues.

[2017-10-23 12:26] jeffwhelpley commented on #44
Yes, as mentioned above check out #41. If the Webpack change I mentioned isn't viable then let me know.

[2017-10-23 12:26] #44 closed

[2017-10-23 12:37] CaerusKaru commented on #45
@jeffwhelpley The nonce is now undefined when the HTML is compiled, meaning that the e2e fix breaks the functionality. Can the e2e app be responsible for generating its own nonce, outside of the server-preboot-module?

[2017-10-23 12:54] CaerusKaru commented on #45
@jeffwhelpley Ok I fixed this issue and can prepare another PR, but should I add some documentation somewhere? Do you prefer tacking it on to the README or adding a separate file?

[2017-10-23 14:09] jeffwhelpley commented on #45
Yes, do another PR and just add a section to the README. Also, feel free to increment the patch version number in your PR and I will publish it once I test it out. Thanks!

[2017-10-23 15:48] CaerusKaru commented on #45
@jeffwhelpley PR submitted as #47. Basically the default nonce you added wasn't getting overridden (and since it wasn't typed as a string, it also wasn't getting rendered). I added a DI workaround since NgModules don't allow for optional dependencies. Just injecting the token by itself (as in the original) and having the e2e app provide its own for testing would force users to always provide the t

[2017-10-24 11:28] CaerusKaru opened #49 "refactor: change project structure to Angular Library format"
Currently the package is built in such a way that a lot of files are duplicated as both ts and js files. The project should be refactored to use a build process similar to Angular core, Material, and Flex-Layout, with multiple bundles for ES5 and ES2015.

At the very least, it would allow for top-level imports instead of `import * from 'preboot/src'` as currently required.

[2017-10-24 11:33] CaerusKaru commented on #49
For reference, the PR that Flex-Layout used for initial change: https://github.com/angular/flex-layout/pull/342

And the commit for Flex-Layout introducing ES5 and ES2015 bundles: https://github.com/angular/flex-layout/commit/cc12733062c363c4121165877227782b7e80570e

[2017-10-25 02:09] jeffwhelpley commented on #49
@CaerusKaru you should definitely not be doing `import * from 'preboot/src'`. You should be doing `import * from 'preboot/server'` for the server side or `import * from 'preboot/browser'` for the client side. I am aware of the way other angular libs are setup, but the key difference is that preboot is set up for non-angular projects to use it without any angular dependencies. There are a number of

[2017-10-31 00:41] sylvaindumont commented on #49
With the latest @angular/cli changes (https://github.com/angular/angular-cli/commit/6f255acd1b30ab8122a562660d3dfeb0b5ec5681)
ng test throw `node_modules/preboot/browser.ts is not part of the compilation output.`
Manually removing .ts files from node_module/preboot fix the issue.
preboot is the only module to throw these errors, material and flex-layout works fine, it seems that the current librar

[2017-10-31 00:50] CaerusKaru commented on #49
Would this be fixed by adding a `@types/preboot`, and then only shipping the `.js` files in the npm distribution?

[2017-10-31 16:38] jeffwhelpley commented on #49
@CaerusKaru actually, that is a good idea I didn't think about. I am slammed this week preparing for AngularConnect, but will think about this over the weekend. I have never published anything to @types so I will have to do some research to see how to potentially set up the project for that.

[2017-11-01 00:36] CaerusKaru commented on #49
@jeffwhelpley On further reflection, we don't need @types, because we're bundling the `*.d.ts` files with all of the output. What we really need to do is exclude the `*.ts` files from the package distribution.

I've submitted a PR that does this, and also incorporates the changes allowing for top-level imports throughout the package, but it comes at the cost of importing from `preboot/server` or `

[2017-11-05 09:28] CaerusKaru commented on #49
To provide an update on the Angular Library front, the work is proceeding over on [this branch](https://github.com/CaerusKaru/preboot/tree/lib). It provides bundled versions of preboot and the necessary typings, similar to how Material and Flex-Layout handle packages. It also should keep compatibility with react and other frameworks and allow for top-level imports.

If anyone wants to jump in, the

[2017-11-05 22:16] jeffwhelpley commented on #49
@CaerusKaru Hey, at a quick glance this looks good. I am on my way to AngularConnect right now. I will try this out in more detail on Thursday after my talk.

At a high level, tough, I agree with the direction and we can definitely get in something along these lines within the next week.

[2017-11-06 10:36] hamedbaatour opened #52 "ng serve & ng e2e fails when using preboot with angular CLI"
* **I'm submitting a ...**
- [X] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [ ] client side
- [ ] inline
- [X] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**
Bug

* **What is the current behavior?**
`ng serve` and `ng e2e`  are failing with the following error log in the console:

[2017-11-06 11:13] hamedbaatour commented on #52
a current workaround I'm using now to continue the development is to serve the app in AOT mode using: `ng serve --aot`

[2017-11-09 16:32] CaerusKaru commented on #52
Can you please include the preboot version you’re using? Also this should be fixed by #51, tracked by #49

[2017-11-11 19:57] hamedbaatour commented on #52
@CaerusKaru using the latest preboot version 5.1.7^

[2017-11-11 20:57] CaerusKaru commented on #52
Confirmed this is an issue with minimal reproduction using `universal-starter`. Again, this will be fixed with the PR I linked, hopefully merged some time next week.

[2017-11-15 11:27] Madebyivan commented on #52
It happens to me...  preboot version 5.1.7^

<img width="1414" alt="screen shot 2017-11-15 at 12 25 45 pm" src="https://user-images.githubusercontent.com/242960/32833755-466fb2ca-ca00-11e7-8f7d-e599001c3b47.png">

[2017-11-15 12:29] Madebyivan commented on #52
tsconfig.app.json:

{
  "extends": "../tsconfig.json",
  "compilerOptions": {
    "outDir": "../out-tsc/app",
    "baseUrl": "./",
    "module": "es2015",
    "types": [
      "node"
    ]
  },
  "exclude": [
    "test.ts",
    "**/*.spec.ts"
  ]
}

tsconfig.server.json:
{
  "extends": "../tsconfig.json",
  "compilerOptions": {
    "outDir": "../out-tsc/app",
    "baseUrl": "./",
    // Set the mo

[2017-11-15 14:26] TitanNano opened #53 "webpack fails at importing preboot/browser"
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [X] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [X] client side
- [ ] inline
- [X] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**
Bug

* **W

[2017-11-15 15:22] TitanNano opened #54 "Server module exceedes call stack"
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [X] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [X] server side
- [ ] client side
- [ ] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**
bug

* **W

[2017-11-15 16:04] TitanNano commented on #54
We only get this error on our actual server and not on the dev machine. We can't tell why the call stack is exceeded on the server though.

[2017-11-15 16:18] TitanNano commented on #53
dupe of https://github.com/angular/preboot/issues/41

[2017-11-15 16:18] #53 closed

[2017-11-15 17:23] Madebyivan opened #55 "Is compatible Angular 5???"
Is compatible Angular 5???

[2017-11-15 17:52] CaerusKaru commented on #54
Can you provide a minimal reproduction repo?

[2017-11-15 17:53] CaerusKaru commented on #55
Yes, can be closed.

[2017-11-15 18:03] Madebyivan commented on #55
Not so fast baquero...

ng new project
npm i preboot --save

And only... app.module.ts...

import { BrowserModule } from '@angular/platform-browser';
import { NgModule } from '@angular/core';
import { BrowserPrebootModule } from 'preboot/browser';

import { AppComponent } from './app.component';

@NgModule({
  declarations: [
    AppComponent
  ],
  imports: [
    BrowserModule,
    BrowserPreboot

[2017-11-15 18:08] CaerusKaru commented on #55
Duplicate of #52

[2017-11-15 18:43] Madebyivan commented on #55
Thanks!

[2017-11-15 18:43] #55 closed

[2017-11-30 10:31] naveedahmed1 commented on #52
Any update on this?

[2017-11-30 16:02] CaerusKaru commented on #52
@naveedahmed1 We're currently validating the new build format in #51. Most issues have been resolved and we should be able to push a new version out this week or early next week. Stay tuned.

[2017-12-01 08:39] ranjitnadar opened #56 "https api url fail in ssr for meta tags"
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [ ] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [x] server side
- [ ] client side
- [ ] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**

* **What

[2017-12-03 23:48] CaerusKaru commented on #56
If this is actually an issue relating exclusively to **preboot**, please provide a minimal reproduction repo. If it's related to SSR in general, a better avenue for issues is the angular/universal repo.

[2017-12-04 09:48] naveedahmed1 commented on #52
Sounds good :)

[2017-12-05 11:21] gmanio opened #57 "[Issue] when browser refresh, rendered DOM is gone"
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [x] server side
- [x] client side
- [ ] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **What is the current behavior?**
Chrome 60: browser refresh

* **If

[2017-12-05 15:22] CaerusKaru commented on #57
Remove [this line](https://github.com/gmanio/ng-ssr/blob/64ffad7d2ffbb949bc72e6c2e363399990f88d0d/src/app/app.server.module.ts#L12) and everything should work.

[2017-12-05 18:08] #49 closed

[2017-12-05 18:08] #52 closed

[2017-12-06 08:52] gmanio commented on #57
In chrome browser (latest version),
clean refresh worked well, But just browser refresh doesn't work. ( Dom is gone )
Personally, I carefully think that this would be related replay events.

1. clone
2. yarn install
3. yarn build
4. yarn build:ssr
5. ts-node server.ts
6. first rendering is well but refresh ( document empty )

[2017-12-06 09:18] dneeleman commented on #37
Hi @jeffwhelpley, not entirely sure, but it seems to be back again.

Included is the script that is still in the header of our application.
`<script>(function () {

        function waitUntilReady(data, win) {
            var /** @type {?} */ theWindow = /** @type {?} */ ((win || window));
            var /** @type {?} */ document = /** @type {?} */ ((theWindow.document || {}));
            if (do

[2017-12-06 22:03] jeffwhelpley commented on #37
@dneeleman can you try updating to our latest beta version `6.0.0-beta.0`?

[2017-12-08 17:22] misticwonder commented on #57
I've also reproduce this bug https://github.com/misticwonder/preboot-bug1
- node version 8.9.0
- npm run build:ssr && npm run serve:ssr
- http://localhost:4000

Issue:
The content of the page disappears in chrome browser when using preboot.
The problem is related to the browser cache.

[2017-12-08 17:29] misticwonder opened #58 "Lazy loaded routes makes page flicker"
* **I'm submitting a ...**
- [ ] bug report

* **Which parts of preboot are affected by this issue?**
- [ ] client side

* **What is the current behavior?**
When injector.get(ApplicationInitStatus).donePromise resolves
angular removes all styles with 'ng-transition' from the header.
And if you use lazy route for current page you can see
the messing on the page for some time (depends on amount
of c

[2017-12-08 18:22] sylvaindumont commented on #57
Without `BrowserModule.withServerTransition({ appId: 'ssr-angular' })` in app.server.module.ts, the dom disappear too.
Removing it in app.module.ts too fix the issue, but prerendering throw
`renderModule[Factory]() requires the use of BrowserModule.withServerTransition() to ensure
the server-rendered app can be properly bootstrapped into a client app.`

[2017-12-08 20:06] CaerusKaru commented on #58
Duplicate of https://github.com/angular/angular/issues/15716

[2017-12-08 21:37] kblestarge opened #59 "Component CSS Disappears from Components During Preboot"
* **I'm submitting a ...**
- [x] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [x] client side
- [x] inline
- [ ] build process
- [ ] docs
- [ ] tests

My beautiful server-side rendered Angular 5 application (using Universal with a node express.js server) is having problems with styling during the bootstrap (preboot) phase. The globa

[2017-12-09 20:00] misticwonder commented on #59
It's the same issue https://github.com/angular/preboot/issues/58

[2017-12-10 00:44] CaerusKaru commented on #57
Turns out it's not a cache issue, preboot is working exactly as intended. The issue was that preboot was waiting too long to take over from the inline script (when delayed by a timer, this throws off app stability). PR #60 should resolve this, feel free to install from remote branch and test.

[2017-12-10 03:53] kblestarge commented on #59
Closing because we will track it here: [#58](https://github.com/angular/preboot/issues/58).
Glad I'm not alone with this bug. Thanks @misticwonder.

[2017-12-10 03:53] #59 closed

[2017-12-10 04:00] kblestarge commented on #58
@CaerusKaru it might be the same issue solved in Angular 4 come back to life in Angular 5...

[2017-12-11 02:22] #57 closed

[2017-12-11 22:31] naveedahmed1 commented on #58
@misticwonder can you try it with `6.0.0-beta.1` and make sure your routes config has `{ initialNavigation: 'enabled' }`

The page load was not smooth for me in `6.0.0-beta.0', though it wasn't flickering but wasn't smooth either. With `6.0.0-beta.1' things look pretty neat.

[2017-12-12 23:40] kblestarge commented on #58
@naveedahmed1 that seems to have fixed the issue for me :)

[2017-12-13 11:35] misticwonder commented on #58
The issue is not fixed

[2017-12-13 15:20] TitanNano commented on #54
We didn't create a reproduction repo yet, but we are still on it.

[2017-12-13 20:03] CaerusKaru commented on #58
@misticwonder After the latest update to your reproduction repo, I was unable to reproduce the issue. If you can confirm this as well, please close this issue.

[2017-12-18 16:29] TitanNano commented on #54
upgrading to v6 solved this issue for us.

[2017-12-18 16:29] #54 closed

[2018-01-12 23:23] CaerusKaru commented on #57
Due to issues described in the comments of #60, this is going to be partially reverted. In order to achieve the behavior from beta.1 in beta.2 (when it's published), you'll have to use @sylvaindumont's [workaround](https://github.com/angular/preboot/issues/57#issuecomment-350335133) and set `buffer` to `false`.

[2018-01-17 10:41] dneeleman opened #63 "Object doesn't support property or method 'from': IE11"
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [x] client side
- [x] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**
Report a b

[2018-01-17 12:07] dneeleman opened #64 "new Event does not work in IE11, and unfortunately neither does the polyfill from MDN and this question: Internet Explorer 9, 10 & 11 Event constructor doesn't work, since they rely on document.createEvent."
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [x] client side
- [ ] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**
A bug

* *

[2018-01-18 10:15] dneeleman commented on #64
Either this or https://github.com/angular/preboot/issues/63 seems to crash on IE11 for our application. Result is 2 <app> tags, where the cleanup/replay with buffer seems to fail.

I'll try again if and when this is solved for older browsers.

[2018-01-19 02:37] CaerusKaru commented on #63
It looks like there's a [Polyfill](https://github.com/mathiasbynens/Array.from) for this. Did you try it?

[2018-01-19 09:12] dneeleman commented on #63
@CaerusKaru Correct, I have tried this. Seems to not work with IE11 on Windows 10. Also tried the CoreJS/Array version as well.

[2018-01-19 20:29] Quovadisqc commented on #63
@CaerusKaru Using core-js ES6 polyfills included with @angular/cli projects in the `src/polyfills.ts` file fixes this.

It does not fix #64 though.

[2018-01-20 03:00] CaerusKaru commented on #64
@dneeleman Can you elaborate on that?

[2018-01-25 15:55] Quovadisqc commented on #63
@CaerusKaru I might have found a problem that makes polyfills usage harder.

The problem is that in some instances, preboot kicks in before CLI polyfills are loaded.

If you pause execution at https://github.com/angular/preboot/blob/master/src/lib/api/event.recorder.ts#L47 in chrome, CLI scripts are already loaded and everything works perfectly. In IE11, some CLI scripts have not yet been download

[2018-01-25 16:07] Quovadisqc commented on #63
@CaerusKaru I might have found a problem that makes polyfills usage harder.

The problem is that in some instances, preboot kicks in before CLI polyfills are loaded.

If you pause execution at https://github.com/angular/preboot/blob/master/src/lib/api/event.recorder.ts#L47 in chrome, CLI scripts are already loaded and everything works perfectly. In IE11, some CLI scripts have not yet been download

[2018-01-25 19:34] CaerusKaru commented on #63
@Quovadisqc Thank you for looking into this so intently. It might be worth adding an "IE compatibility" section to the README in a PR.

Here's the problem with option (2): it fundamentally nullifies what preboot is supposed to be doing. Think about it, by the time `doc.ReadyState === 'complete'`, the Angular client app has already been loaded and is starting to bootstrap. This means that preboot h

[2018-01-25 19:50] jeffwhelpley commented on #63
Thanks for the work on this @CaerusKaru. Agreed on all your points. My access to this repo has been temporarily removed while the Angular team makes some adjustments. So, @vikerman you will have to help out in merging these PRs. Just slack me if you want to talk about them or have any questions.

[2018-01-25 21:17] Quovadisqc commented on #63
@CaerusKaru
No problem, I'm glad to help!

I think you are right, replacing functions that need to be polyfilled might be the best solution.

CLI polyfills were only needed because of Array.from which you replaced in #62. The other polyfills are not covered by core-js scope and therefore would be added manually anyways.

[2018-01-31 16:58] kaitlynekdahl opened #66 "Events not replaying due to mismatched server/client nodes"
* **I'm submitting a ...**
- [x] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [x] client side
- [x] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **What is the current behavior?**
Preboot (v. 6.0.0-beta.1) will not replay events on the client-side because client and server nodes do not match. When specifying the `eventSelecto

[2018-02-01 07:26] CaerusKaru commented on #66
Can you specify the version where it worked?

[2018-02-01 17:20] kaitlynekdahl commented on #66
Yeah, **5.1.7** worked fine with Angular 4, and replayed some events in Angular 5 (worked with entering characters in a field, but not submitting with enter).

[2018-02-01 17:48] CaerusKaru commented on #66
And did you get the same behavior with 6.0.0-beta.0?

[2018-02-01 18:26] kaitlynekdahl commented on #66
I tried 6.0.0-beta.0 with Angular 5, and the events didn't replay at all. No warnings either.

[2018-02-03 12:02] CaerusKaru commented on #66
@kaitlynekdahl I've looked into this issue a little more, and here's where I'm at. It looks like this works fine with 6.0.0-beta.0, except for the form submission (ie the keypress events work, just not ENTER).

I tested this against the yet-to-be-released 6.0.0-beta.2, which does NOT account for this regression. I'm going to take a deeper look into it this weekend, but the accepted workaround righ

[2018-02-04 00:08] CaerusKaru commented on #66
Ok, here's the resolution. This has been fully patched in 6.0.0-beta.2, which should be going out some time next week. I've put workaround instructions for the `setTimeout` issue [here](https://github.com/angular/preboot/pull/60#issuecomment-362866734).

Your issue with the form submission is straightforward: you set the disabled property on your button for when the form is invalid. Unfortunately,

[2018-02-04 00:10] CaerusKaru commented on #57
Please see updated comments [here](https://github.com/angular/preboot/pull/60#issuecomment-362866734) for the correct response to this issue after this is reverted in 6.0.0-beta.2

[2018-02-06 10:22] mgol opened #67 "Preboot 6.0.0-beta.1 doesn't seem to do anything when used with Angular Upgrade (ngUpgrade)"
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [x] client side
- [ ] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**

A bug. Th

[2018-02-06 13:51] mgol commented on #66
Where is the code for the beta available? I've run `npm run build` from current `master` (c6c98050976563e43a78df553894c80843a2e30a) and linked the generated `dist` instead of what's published as `6.0.0-beta.1` and the issue was still there.

[2018-02-06 13:57] mgol commented on #66
I've just read about IDs. Is assigning IDs to all inputs a requirement? I haven't seen this anywhere in the readme; my input, indeed, doesn't have an ID (a test case is available at https://github.com/mgol/angular-preboot-bug).

[2018-02-06 14:17] CaerusKaru commented on #66
@mgol For now, 6.0.0-beta.2 is held up in PR #62. 6.0.0-beta.1 introduced a regression that fires Preboot too early in the bootstrap process (which was thought to fix another issue, #57, but we’ve developed an alternative fix for that after the revert).

You can build preboot from source off my remote branch CaerusKaru/preboot:lint until it gets merged into master.

IDs are not a requirement, but

[2018-02-06 19:31] kaitlynekdahl commented on #66
@CaerusKaru I went back to 6.0.0-beta.0, added the `form` selector and made sure the button was only disabled on the client:

`<button id="convert-button" mat-raised-button [disabled]="platformId==='browser' && !checkForm.valid">Convert</button>`

This is working for now, though I don't totally understand why I had to do the browser check for button disabling in Angular 5 and not Angular 4. Either

[2018-02-07 07:27] CaerusKaru commented on #67
Noting that this is a feature request that likely won't make the fray until v6 is out of beta.

[2018-02-07 07:28] CaerusKaru commented on #66
The proper way to handle browser-side check is the following:

`isPlatformbrowser(this.platformId)`. The value of the platformId is internal and not considered reliable for checking.

[2018-02-07 17:10] kaitlynekdahl commented on #66
Yeahh, I realized that after I posted that. Forget to edit the comment, whoops

[2018-02-07 19:49] mgol commented on #67
tl;dr: jump to the code at the end to see the workaround.

The fact that `AppComponent#ngOnInit` fires twice is caused by buffering - during the buffering phase there are two elements named `app-root` on the page and with ngUpgrade it's AngularJS that's responsible for finding the element and initializing them (those elements are Angular components downgraded to AngularJS via ngUpgrade). Disabling

[2018-02-09 11:27] mgol commented on #67
A partial fix: #68. That PR fixes the buffering issue so `buffer: true` works. It still requires manual event replaying as in the above workaround but works otherwise.

[2018-02-09 13:40] mgol opened #69 "Rename noReplay to replay"
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [ ] bug report
- [x] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [x] client side
- [ ] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**

A feature

[2018-02-09 15:04] CaerusKaru commented on #69
I'm ok with this while we're in the v6 beta period. cc @jeffwhelpley for his thoughts

[2018-02-09 15:27] jeffwhelpley commented on #69
This is fine with me.

[2018-02-09 16:44] CaerusKaru commented on #69
@mgol If you want to submit a PR for this, go ahead. Otherwise I can tackle this tomorrow.

[2018-02-11 17:08] mgol commented on #69
@CaerusKaru This will conflict with your PR, won't it? I'd rather wait for it to land then.

[2018-02-12 23:15] #64 closed

[2018-02-12 23:16] #67 closed

[2018-02-12 23:45] #63 closed

[2018-02-12 23:45] #66 closed

[2018-02-12 23:45] CaerusKaru commented on #56
Closing as no followup was provided.

[2018-02-12 23:45] #56 closed

[2018-02-12 23:45] CaerusKaru commented on #69
Let's get this in to beta.3

[2018-02-13 12:02] dneeleman commented on #69
@CaerusKaru Not to be impatient, but when is beta.3 scheduled?

[2018-02-13 13:37] CaerusKaru commented on #69
@dneeleman It is currently unscheduled since this is the only open (low-priority) issue. Is there another problem that needs to be patched?

[2018-02-13 14:15] dneeleman commented on #69
@CaerusKaru Not that I'm aware of. I'll patiently wait for the release of the next beta/stable release. Thanks for the hard work!

[2018-02-13 14:16] CaerusKaru commented on #69
For the record, v6.0.0-beta.2 was released late last night.

[2018-02-13 15:16] dneeleman commented on #69
@CaerusKaru Ah, I thought we already had a beta.2. But it was pulled or something. But I guess that was the case with beta.1. My bad.

[2018-02-14 09:10] dneeleman commented on #63
@CaerusKaru Array.from is still used in EventRecorder. IE will still error on this.

https://github.com/angular/preboot/blob/a10e4af9e2867098974ddf790b3fed9b2fbb9b26/src/lib/api/event.recorder.ts#L194

[2018-02-14 15:12] thaibault opened #72 "add condition to check that the application root is available in the DOM before prebooting"
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [x] server side
- [x] client side
- [ ] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**

bug

* **

[2018-02-14 15:27] thaibault commented on #72
Maybe the issues only comes up for me caused by a big json object attached to my applications root node as attribute:

`<application options="....big data to evaluate..."></application>`

But the conceptual problem stays in my opinion.

[2018-02-14 16:00] CaerusKaru commented on #63
Will be fixed by #73

[2018-02-14 16:12] CaerusKaru commented on #63
@dneeleman I'll cut a beta.3 release later today or early tomorrow, once @mgol's PRs are in and once #72 is fully resolved.

[2018-02-14 16:13] dneeleman commented on #63
@CaerusKaru You guys are the best, thanks for the hard work!

[2018-02-14 16:30] thaibault commented on #72
Yes but if takes more than 10ms to load the application's dom node after document.body is loaded it will fail. You can provoke this behavior if you add a "big" attribute value to the application's root domnode. But in the end you completly right:

"we might only need to add another condition to check that the application root is alive and well in the DOM"

So i rename this issue and try to work on

[2018-02-14 21:20] #69 closed

[2018-02-15 14:05] mgol opened #75 "Big FOUC as server side styles removed before the switch to client side"
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [x] client side
- [ ] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**

A bug.

*

[2018-02-15 18:16] dottodot commented on #63
I still this error when using 6.0.0-beta.2

[2018-02-15 18:22] CaerusKaru commented on #75
We're looking into this, but it looks like this may be an issue with Angular core. We'll update this as the issue develops.

[2018-02-15 18:23] CaerusKaru commented on #63
@dottodot See my comment above. I'm still waiting on #72, but if I don't get an update by tonight, I'll cut the beta.3 release to resolve this.

[2018-02-17 22:57] MrCroft opened #76 "Preboot is not working with `app-shell` (pre-rendering)"
### I'm submitting a ...
- [x] bug report

### Which parts of preboot are affected by this issue?
- [x] client side (Application Shell)

### What is the current behavior?
When building an app shell, the preboot script present in that pre-rendered document causes undesired behavior:

- While the client app bootstraps (no PWA), preboot doesn't capture events (or, if it does, it doesn't replay them a

[2018-02-18 20:32] CaerusKaru commented on #76
I'm unable to replicate this with the example repo provided. When I run it on Slow 3G, I can press the button to trigger the overlay, which then disappears when the client bootstraps.

The only issue I have is that the button doesn't seem to trigger the sidenav after bootstrapping (though it doesn't create an overlay either, so it doesn't seem like a preboot issue to me).

I'll leave this open for

[2018-02-18 21:23] MrCroft commented on #76
I think the main issue might be the fact that it doesn't make the switch between the server rendered view and the client, after the client bootstraps.
In my case, first time I access it after opening a new tab (or when doing a hard reload) it doesn't make the switch, after the client app bootstraps. After I was changing to "Slow 3G" I was doing a hard reload, so network emulation had nothing to do

[2018-02-18 21:57] MrCroft commented on #76
Ok, I don't know how I missed this the first time:
Taking a closer look at the source, I see that the preboot script is present twice.
Once because it's already present in the app shell (in the pre-rendered index.html) and a second time because I assume it get's injected again when the app is rendered server-side.
I'm not sure how could I generate the app shell to not have the preboot script, and

[2018-02-18 21:57] MrCroft commented on #76
@CaerusKaru Ok, I don't know how I missed this the first time:
Taking a closer look at the source, I see that the preboot script is present twice.
Once because it's already present in the app shell (in the pre-rendered index.html) and a second time because I assume it get's injected again when the app is rendered server-side.
I'm not sure how could I generate the app shell to not have the preboot

[2018-02-19 06:45] CaerusKaru commented on #76
@MrCroft I've added a check in #77 to fix this. Can you build from source and confirm that it works?

[2018-02-19 10:29] MrCroft commented on #76
@CaerusKaru Almost. I see the `id="preboot-inline-script"` added to the script tag, but the tag is still present twice. Looking closer, I think that
[code]
should become
[code]
Tested with the above change and it's working.

[2018-02-19 17:55] CaerusKaru commented on #76
@MrCroft Excellent, I've updated the PR to reflect this, can you pull again just to be sure?

PS I hate `npm link` too. I usually just run `npm pack` on the `dist` folder and install from the file directly.

[2018-02-19 18:44] MrCroft commented on #76
@CaerusKaru Yup, all good! Thank you!

[2018-02-20 06:40] #76 closed

[2018-02-26 13:35] tstirrat15 opened #79 "Flattened module structure broke imports on projects that don't contain Angular"
**Note: for support questions, please use the Universal Slack Channel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [x] bug report

* **Which parts of preboot are affected by this issue?**
- [x] server side
- [x] client side
- [x] inline

* **Do you want to request a *feature* or report a *bug*?**

Bug

* **What is the current behavior?**

[code]

[2018-02-26 13:35] tstirrat15 opened #80 "Flattened module structure broke imports on projects that don't contain Angular"
**Note: for support questions, please use the Universal Slack Channel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [x] bug report

* **Which parts of preboot are affected by this issue?**
- [x] server side
- [x] client side
- [x] inline

* **Do you want to request a *feature* or report a *bug*?**

Bug

* **What is the current behavior?**

[code]

[2018-02-26 14:32] CaerusKaru commented on #79
Duplicate of #80

[2018-02-26 14:32] #79 closed

[2018-02-26 14:33] CaerusKaru commented on #80
@tstirrat15 Thank you for catching this. I’m going to look into this this week and hopefully get back to you with a solution. Compatibility with other libraries is a huge priority for us.

[2018-02-26 14:44] CaerusKaru commented on #80
@tstirrat15 Can you provide a minimal reproduction repository so that I can take a look? I don't have much experience building/using preboot outside of Angular

[2018-02-27 09:11] tstirrat15 commented on #80
Working on it... I'll let you know when I've got something workable. There aren't many boilerplates out there that have the correct structure, and minimizing them is more of a pain than I was expecting.

[2018-02-27 12:35] tstirrat15 commented on #80
https://github.com/tstirrat15/react-preboot-universal-minimal

It might not be completely minimal, but it demonstrates the usage where I've been running into problems.

To run, clone and then `yarn && yarn start`. You'll see the error in the webpack build (albeit maybe a ways up in the build output - my local was spamming webpack output for reasons that I don't entirely understand). Let me know if

[2018-03-04 20:03] xban1x commented on #75
This is a huge issue for me. Where can we expect more info on this?

[2018-03-04 22:50] CaerusKaru commented on #75
@xban1x The Angular core team is looking into this, but I don't have an ETA for you on a resolution.

[2018-03-18 05:52] CaerusKaru commented on #80
@tstirrat15 As an update to this issue, I think our solution is going to be moving the Angular module into a secondary entrypoint to separate out that code from the main package.

I'm waiting on APF v6 to come out before I implement this though, because that may fix the structure issues you're facing.

[2018-03-18 06:03] hesampour opened #81 "page turn to white screen if one of the httpclient requast have delay"
Hi
I tried to use the preboot module but the problem is that when routing if one of my http request in the page has delay the page change to blank screen suddenly.

[2018-03-18 06:07] CaerusKaru commented on #81
Duplicate of https://github.com/angular/preboot/issues/57

[2018-03-18 06:07] #81 closed

[2018-03-18 06:08] CaerusKaru commented on #81
You'll need to activate preboot manually if your app takes longer than expected

[2018-03-21 08:25] tstirrat15 commented on #80
APF?

Sounds good.

[2018-03-24 18:48] xban1x commented on #75
@CaerusKaru any news here?

[2018-03-24 20:42] CaerusKaru commented on #75
None yet, still investigating.

[2018-04-04 15:01] mgol opened #82 "Preboot suffers from race conditions"
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [x] server side
- [x] client side
- [x] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**

A bug.

*

[2018-04-04 15:01] mgol commented on #72
Preboot suffers from various kinds of race conditions; I described some of them in #82.

[2018-04-04 15:14] mgol commented on #82
PR: #83.

[2018-04-04 15:14] mgol commented on #72
See PR #83

[2018-04-04 15:41] thaibault commented on #72
ok I think we can close this issue since @mgol great report #82 has much more details. PR #83 should be included.

[2018-04-04 15:41] #72 closed

[2018-04-06 04:04] CaerusKaru commented on #80
This will probably be fixed by #84, the gist is that there will be a secondary entrypoint for all of the Angular stuff, that way top-level is just pure JS with no dependencies.

APF stands for Angular Package Format, and it's the way we bundle Preboot 6.0 beta.

[2018-04-12 07:36] xban1x commented on #75
@CaerusKaru just pinging...

[2018-04-24 07:55] kamalakkanni commented on #38
hi,this is not fixed with 5.1.4

[2018-05-09 22:15] vytautas-pranskunas- opened #85 "Angular 6"
Is there some plans to make it Angular 6 and rxjs comaptible?
If this is the case - when?

[2018-05-09 22:42] CaerusKaru commented on #85
Sure, I'll try to get a PR in this week (alternatively, you are more than welcome to submit one as well!)

[2018-05-09 22:44] vytautas-pranskunas- commented on #85
If i new how it works - i would :)  already helped migrating 2 libraries to NG6 but i am afraid not this time :( however i will be waiting for migration :)

[2018-05-11 21:52] arutnik commented on #82
Can anyone look at this PR? With version 6.0.0-beta.3 the race conditions are quite apparent. With the preboot module my app will randomly transition from a full server page to a blank client page with no errors in the console. Without the preboot module there's a flash but everything loads fine. I would love to be able to use this!

[2018-05-12 02:06] CaerusKaru commented on #82
@arutnik It's a WIP, and @mgol is OOTO for most of the month. I apologize for the delay, but that's the unfortunate nature of open source projects.

[2018-05-12 20:29] wapisgroup commented on #85
Hi guys,
I'm having the fix ready to push, unfortunately, I'm not able to push the branch due to the following error (Failed with error: unable to access 'https://github.com/angular/preboot.git/': The requested URL returned error: 403). Sorry, I've never contributed to a public repo, if you can point me how to fix it I'll push the code for review. Thanks and sorry for OT issue in the stream.

[2018-05-13 00:44] CaerusKaru commented on #85
@wapisgroup You need to create a fork of the repository and push to that. Then you can open a pull request from the fork to this repo.

[2018-05-14 05:17] CaerusKaru commented on #85
Closed by #87, and thanks to @wapisgroup for their help in putting together the PR.

[2018-05-14 05:17] #85 closed

[2018-05-30 12:10] dneeleman commented on #75
Ping!

[2018-06-06 11:05] snakenstein commented on #75
I am experiencing this bug too. But, actually, not on the latest versions: Angular v.5.2.5, Preboot v.6.0.0-beta.3)

[2018-07-09 09:05] Willovent commented on #75
Here is how  I fixed this issue for my project : I removed the `.withServerTransition` from the import of the BrowserModule and use this instead
[code]

As you can see, I remove the style tags when the event PrebootComplete is raised. No more flickering.
Here is how to import it :

[code]

[2018-07-11 13:24] Willovent opened #91 "Preboot buffer: Application bootstrap on the server generated node."
* **I'm submitting a ...**
- [x] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [X] client side
- [ ] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **What is the current behavior?**
Sometime the application bootstrap on server generated DOM node, leaving the hidden buffer empty.
When this happened, once the app is stable, prebo

[2018-07-17 17:07] jfrei commented on #63
I'm not sure if this helps anyone, as I had a similar but different error, but just for shits and giggles, I tried importing es7 stuff and it worked for me (mostly) after that:

import 'core-js/es7/array';
import 'core-js/es7/object';

[2018-08-02 18:13] #82 closed

[2018-08-08 19:44] mgol commented on #91
If I'm reading it right it might be fixed by PR #83 as it removes `waitUntilReady` and invokes relevant code immediately, before the Angular JS has a chance to even start loading - so definitely before it bootstraps.

[2018-08-08 21:48] Willovent commented on #91
Yes totally. Thanks for the hard work on that PR !

[2018-08-17 17:00] SwamyKottur commented on #75
@Willovent On safari on page reload from browser refresh, the entire dom is being deleted. Did you come across this issue?

[2018-08-18 14:31] Willovent commented on #75
I did actually, I've post an issue for that (https://github.com/angular/preboot/issues/91). However this has nothing to do with the transition, but more with the preboot buffer. To avoid it, I delayed my application bootstrap by 10ms after investigating this issue and evrything work's fine.
[code]
However I had this issue on all browsers, so it may not be related to yours.

[2018-08-21 01:39] rezonant commented on #91
Any ETA on a release for this fix?

[2018-08-21 01:57] CaerusKaru commented on #91
@rezonant Just published, let me know if there are any bad effects.

[2018-08-21 08:05] Willovent commented on #91
@CaerusKaru I don't see any bad effects for now and this issue is resolved with the new version. Thanks a lot.

[2018-08-23 08:54] mgol commented on #91
@willovent in that case could you close the issue?

[2018-08-23 14:51] #91 closed

[2018-08-31 15:52] Willovent commented on #75
@Maqix I was talking about the entire DOM being deleted. This was a response to SwamyKottur question. I still have the code for the `ServerTransition` in my applications. FYI this will probably not corrected in this repository since the code that need to be modified is located in platforme_browser

[2018-09-14 08:06] malengrin commented on #75
Thanks for the workaround @Willovent. It's solving this issue, but it breaks the Angular server transfer state. Because `TRANSITION_ID` is not properly provided, Angular generates a random one different from server and browser.
It's generating a html that looks like:
[code]

I fixed it by keeping the `BrowserModule.withServerTransition(...)`import and adding this provider to the app module:
[code]

[2018-09-21 09:09] amit-kumar27 commented on #75
I am facing the same issue. @Willovent your workaround is not working with angular@5.2.1 and preboot@6.0.0.-beta.5. Can you please help?
This is the configuration for root-module:-

`
import { BrowserModule } from "@angular/platform-browser";
import { PrebootModule } from 'preboot';
import { ServerTransition } from "./server-transition.module";
import { RootComponent } from "./root.component";
...

[2018-09-22 10:09] amit-kumar27 opened #92 "Error: Cannot set property 'prebootData' of undefined"
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [x] server side
- [ ] client side
- [ ] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **What is the current behavior?**
After adding preboot@6.0.0-beta.3,

[2018-10-03 13:21] dneeleman opened #93 "Inline start function uses wrong 'currentScript'."
**Note: for support questions, please use the Universal Slack Channel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [x] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [x] client side
- [x] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**
report a *b

[2018-10-03 13:43] CaerusKaru commented on #92
We do not support or have LTS for any other version other than the current beta and the version of Angular it supports (in this case 6.0.0-beta.6 and Angular v6). I apologize for the inconvenience this may cause, but this is a very small project. If you can reproduce the issue on the latest beta, this is definitely something we can look into.

[2018-10-03 13:46] dneeleman commented on #93
The issue has been fixed in #94. Closing this issue.

[2018-10-03 13:46] #93 closed

[2018-10-03 13:56] CaerusKaru commented on #93
A new version has been published, it should be populated on NPM within the next few minutes. Thanks for catching this and cutting a PR!

[2018-10-03 13:58] dneeleman commented on #93
@CaerusKaru I have seen it! Thank you, guys.

[2018-10-12 15:08] FingalP opened #97 "Cleanup is not removing event listeners"
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [X] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [X] client side
- [ ] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**

report a

[2018-10-15 07:53] mgol commented on #97
Thanks for the report! I missed this in my Preboot refactor in 60a3ea864aa7ac7d401b16d065e0e092f713d34d.

I don't think we should hardcode `true` for the last `isCapture` parameter to `removeEventListener` as it'd be good to keep `prebootData.listeners` generic. Rather than that, I'd change the type of `prebootData.listeners` so that its elements have an additional `isCapture` field, by default se

[2018-10-17 15:15] FingalP commented on #97
Thanks for the reply, @mgol! I'm a little busy at the moment, but I'll see if I can get around to this sometime next week. It would be my first PR so I'm unsure how long it would take me.

[2018-10-17 20:55] mgol commented on #97
No problem. :) Let me know if you get stuck on anything, I'd be happy to answer any questions you might have.

If it turns out you won't have time for it in the foreseeable future, that's OK, just please write a comment about that here so that we know we need to do it ourselves (or with help from another contributor). Take care!

[2018-10-25 14:30] lares83 opened #98 "Support for Angular 7"
Could you please add support for Angular 7?

[2018-10-25 14:31] #98 closed

[2018-10-25 14:32] lares83 opened #99 "Support Angular 7"
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [ ] bug report
- [x] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [ ] client side
- [ ] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**
Feature

*

[2018-12-26 16:58] JoseFMP commented on #41
For me this issue is still happening.

[2019-01-19 02:30] CaerusKaru commented on #92
Closing. We can open if a reproduction with latest beta is added.

[2019-01-19 02:30] #92 closed

[2019-01-24 21:44] drew-thompson commented on #75
@CaerusKaru is there an update planned for this issue, either before or after Ivy releases?

[2019-02-01 07:19] kajalbh99 commented on #63
https://github.com/w3c/respec/issues/1025#issuecomment-434030447 solved my issue.

[2019-03-06 21:07] kenmorechalfant commented on #63
Is that in addition to the es6 ones or that's not necessary?

[2019-04-25 06:53] intellix commented on #75
Not sure if it's the same thing but getting some weird behaviour and am not sure whether to open a different issue or not.

AppServerModule.imports contains:
[code]

Server delivers index.html like this:
[code]

As soon as the JS is downloaded, the DOM contains something like this:
[code]

All of the styles are for _nghost-meh-c0 so the secondary added `cw-root` is unstyled. Not seeing any details

[2019-05-01 12:53] jimguyer commented on #63
Go into polyfills.ts (in the src folder by default) and just uncomment the following imports:

/***************************************************************************************************
 * BROWSER POLYFILLS
 */

`/** IE9, IE10 and IE11 requires all of the following polyfills. **/
 import 'core-js/es6/symbol';
 import 'core-js/es6/object';
 import 'core-js/es6/function';
 import 'core-js/

[2019-05-01 12:58] jimguyer commented on #63
Go into polyfills.ts (in the src folder by default) and just uncomment the following imports for IE9, IE10, IE11:

![Polyfill](https://user-images.githubusercontent.com/7738710/57017921-4164ed80-6bef-11e9-83a5-7228777d7ce1.jpg)

[2019-05-02 21:59] bmarti44 commented on #75
I had the same issue as @intellix and I was able to fix it by injecting the `EventPlayer` service from `preboot` into the main app component. I think ran the `replayAll` method on that service in an `ngAfterViewInit`, and everything worked well. The below is a slimmed down version of my component with some pseudo code as an example.

`import {AfterViewInit, Component, OnInit} from '@angular/core';

[2019-05-09 17:07] kblestarge commented on #75
Update on this issue?

[2019-07-18 23:08] josephliccini opened #105 "Setting Focus is not applying to screenreader elements, only TextArea and Input elements"
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [x] bug report
- [x] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [x] client side
- [x] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**
It's kind

[2019-07-18 23:08] josephliccini commented on #105
Note, I can easily fix this by removing the `CARET_ELEMENTS` check in Preboot.  I can submit a PR if desired.

[2019-07-19 01:47] #105 closed

[2019-07-19 16:11] josephliccini commented on #105
Thanks @CaerusKaru !

Recommendations on how write a test for this change in this repo?

[2019-07-19 16:19] CaerusKaru commented on #105
@josephliccini What kind of test change are you thinking about?

[2019-07-19 17:08] josephliccini commented on #105
Something like:
"focus on a server element"
preboot performs swap
"assert focus on correct element"

[2019-07-19 18:59] CaerusKaru commented on #105
Take a look at the integration tests [here](https://github.com/angular/preboot/blob/master/integration/e2e/e2e.browser.spec.ts). It should be straightforward to add, thanks!

[2019-08-29 08:50] vladimirdjurdjevic commented on #97
Any news for this? I can make pull request later today if this is still an issue.

[2019-08-29 09:03] vladimirdjurdjevic commented on #75
Can we add @malegrin solution to Preboot module? We could just provide that app initializer in PrebootModule for angular?

[2019-08-30 11:05] Ismaestro commented on #75
anyone there?

[2019-09-23 23:05] Splaktar commented on #75
There are some comments about this being an Angular core issue, but there isn't a link to the issue in `angular/angular`. Does anyone have a link to such issue?

Was it https://github.com/angular/angular/issues/15716?
That was fixed in Angular `4.2.0` via PR https://github.com/angular/angular/pull/16712 if you set `initialNavigation: 'enabled'` in your [Router options](https://next.angular.io/api/

[2019-09-23 23:23] Splaktar commented on #80
This is now being worked on in https://github.com/angular/preboot/pull/90, which needs some attention via rebase and a possible bundling issue.

[2019-09-23 23:25] Splaktar commented on #97
@vladimirdjurdjevic AFAICT a PR for this is needed and would be welcome. Thank you!

[2019-09-24 17:19] vladimirdjurdjevic commented on #97
I just want to make sure that it will be merged before I spend time working on it. It looks like it's not actively maintained, that's why I asked first :) I will get my hands on it on Saturday, and submit PR as soon as possible.

[2019-09-24 17:24] vladimirdjurdjevic commented on #75
I had this problem with 8.0.1, and router config is not enough.
The solution below works like a charm, so I figured out we could just make this initializer part of preboot.

[2019-10-06 06:02] CWSpear commented on #75
@malengrin's solution _mostly_ worked... background-images still flicker (load in and out, but since it's background-images, it doesn't affect overall layout). It's still 1000x better than it was!

[2019-10-14 18:28] stephenlautier opened #109 "question: a clicks by default event selector"
This is more a question (at first) may be a "feature" if it makes sense.

Is there any reason why the following is not a default? and more importantely does it make sense?

[code]
The issue is (and this is the main reason why I'm trying to integrate preboot), when the app is rendered in SSR and the user clicks on a link (especially on a slow device/app) each click will navigate and trigger a new w

[2019-10-14 20:04] CaerusKaru commented on #109
The reason is that this is actually desirable behavior in a lot of applications. This gives the app some usability in its initial stage as opposed to being a blank, non-interactive page. It's actually frustrating to users to have elements that should be clickable, but in actuality do nothing.

[2019-10-14 20:04] #109 closed

[2019-12-12 20:31] tstirrat15 opened #110 "New version changelog? What's in v5.1.7?"
[dependabot](https://dependabot.com/) just opened a PR on my project for preboot 5.1.7. We're currently on 5.0.0-rc13 and things work fine.

I'm kinda sketched out by it. There's no tag for that release on this repository, no commits associated with that release, and I haven't seen active development on this repository for months now.

Is v5.1.7 legit? What's in it? If not, it's probably worth rev

[2020-01-21 07:04] hgwat commented on #75
Any updates?

[2020-01-21 16:42] mohamedaarab1994 opened #111 "server app instance not removed from DOM after client bootstraps app"
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [x] bug report
- [x] feature request

* **Which parts of preboot are affected by this issue?**
- [x] server side
- [x] client side
- [ ] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**
Question/b

[2020-03-23 22:16] stemaDev commented on #75
dom.querySelectorAll doesn't work, dom doesn't contain such a property, could this be an angular 9 thing?

[2020-03-23 23:28] CaerusKaru commented on #75
No

[2020-03-24 07:05] stemaDev commented on #75
Then I rephrase my question: how come I get this error for this fix?
"Property 'querySelectorAll' does not exist on type 'ɵDomAdapter'.ts(2339)"

[2020-04-06 18:04] CarlosTorrecillas commented on #75
Hello guys, just for our own interest? Do you think this will get addressed anytime soon? To me it seems a very important issue and wouldmake the actual SSR experience much better overall.

Many thanks!

[2020-05-13 18:21] tstirrat15 commented on #110
Never mind. I went in and manually reviewed the commits and it now looks much less sketchy to me. I'll close this.

[2020-05-13 18:21] #110 closed

[2020-05-29 01:14] IAMtheIAM commented on #63
@jimguyer Thanks for that tip. I completely missed that I have to uncomment those lines for IE11 support. It should probably be uncommented by default, but the Angular CLI team probably has their reasons for not doing that.

[2020-05-29 15:00] tskweres opened #112 "Adding Preboot to Angular SSR causes webpack error"
When I add preboot to SSR, I get the following error:

[code]

Here's my app.module:

[code]

package.json:

[code]

[2020-05-30 20:12] Splaktar commented on #75
@CarlosTorrecillas I haven't seen any indication that this will be resolved "soon". I agree that it's important for most SSR/Universal apps.

[2020-07-04 11:17] a-syde commented on #111
@mohamedaarab1994 Have you got any updates on this?
Angular doesn't bootstrap client side at all, therefore there is no JS code at all. Only links work.
Preboot works as it should when you run:
`"dev:ssr": "ng run frontend:serve-ssr"`
It is really frustrating :disappointed:
![image](https://user-images.githubusercontent.com/23285542/86511360-aa01b880-bdf8-11ea-9c5e-3c98ac8aff85.png)

[2020-07-24 10:40] Bizotics-Dev opened #114 "Prebootoverlay doesn't removed in mobile view"
* **I'm submitting a ...**
- [x] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [x] server side
- [x] client side
- [ ] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current behavior?**
I have add preboot in angular app where cli is v7.1.4.It works proper in desktop view

[2020-07-24 11:11] #114 closed

[2020-08-11 21:51] ohabash opened #115 "Angular Component styles not linked properly during preboot (_ngcontent-serverApp-c16 vs _ngcontent-sc16)"
**Note: for support questions, please use the Universal Slack Channcel or https://gitter.im/angular/universal**

* **I'm submitting a ...**
- [x ] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [ x] client side
- [ ] inline
- [ ] build process
- [ ] docs
- [ ] tests

* **What is the current behavior?**
During preboot the html attribut

[2020-09-02 12:40] akshata456 commented on #111
any update on this? I'm facing the same issue in angular 9

[2020-09-10 07:18] shyamal890 commented on #111
I am facing the same issue, can you please update us on this please.

[2020-09-10 07:41] ocombe commented on #111
I had the same issue until I realized that `appId` and `appRoot` need to be the same:

In my AppModule:
[code]

After that, everything worked like a charm.

[2020-09-11 05:13] akshata456 commented on #111
It works for me .Thanks.

[2020-09-21 12:43] ocombe commented on #111
Ok another reason why this might fail: preboot uses the observable `appRef.isStable`, which might never get stable because [according to the documentation](https://angular.io/api/core/ApplicationRef#is-stable-examples):

These asynchronous tasks can be in your code (setTimeout, setInterval, or interval operator), or in any of your external libraries... making it very hard to debug.

A solution is

[2021-01-02 02:14] adrian-marcelo-gallardo commented on #75
In My case I also needed to wrap the replay in a `setTimeout`. E.g.:

[code]

[2021-01-17 16:22] blasco opened #116 "Generic type 'ModuleWithProviders<T>' requires 1 type argument(s). Angular 11"
* **I'm submitting a ...**
- [x] bug report
- [ ] feature request

* **Which parts of preboot are affected by this issue?**
- [ ] server side
- [ ] client side
- [ ] inline
- [x] build process
- [ ] docs
- [ ] tests

* **What is the current behavior?**
Outputs the following error:
[code]

[2021-01-18 09:31] blasco opened #117 "Is this repository still maintained?"
Is this repository dead? If this is the case, what alternatives are there? I cannot find a way to get rid of the flicker after page load. ngIf in templates do not wait for the state being transferred by angular universal.

[2021-01-18 10:31] CaerusKaru commented on #117
Not as much as I'd like, but I'm committed to getting a v11 release done, see [here](https://github.com/angular/preboot/pull/118)

[2021-01-18 10:32] CaerusKaru commented on #116
Tracked in https://github.com/angular/preboot/pull/118

[2021-01-18 11:54] blasco commented on #116
Great! Looking forward to it

[2021-01-18 11:56] blasco commented on #117
Great, it is quiet unfortunate as I think there is really a huge problem with the transition from server to browser.  Transfer state doesn't solve most of the issues, and so far I know there is no easy way to delay the rendering of the templates and avoid destroying the dom transferred by the server.

[2021-01-18 11:56] #117 closed

[2021-01-18 21:49] CaerusKaru commented on #116
Fixed in 8.0.0 release

[2021-01-18 21:49] #116 closed

[2021-01-19 14:04] blasco opened #119 "Module not found Angular 11 + Universal SSR"
Thank you very much for the quick release. Unfortunately it is still not working. It's weird because the language server seems to find the module fine, but when compiling I get the following error stating that the module is not found:

[code]

[2021-01-19 14:11] alan-agius4 commented on #119
@blasco, looks to me that you have an invalid deep import to `preboot/module`

Try changing the import to `preboot`.

if the problem persists please share your `app.module.ts`

[2021-01-19 14:49] blasco commented on #119
you are right, the import was:
[code]
it was automatically generated by the language provider. I changed it to
[code]
and now it works fine.

[2021-01-19 15:11] #119 closed

[2021-01-19 15:26] blasco opened #120 "Flicker due to styles reload"
After setting up preboot with angular 11 and universal SSR, the elements are not flickering anymore. But now the styles get reloaded, which ends up causing even a larger Largest Contentful Paint and Cumulative Layout Shift.
Is this the normal behavior or styles supposed to stay and this is a problem?

Here what I see:
Initially the site loads fine from the server:
![initial](https://user-images.gi

[2021-01-19 17:06] blasco commented on #120
The solution from @vdjurdjevic worked for me:

https://github.com/angular/preboot/issues/75

Although I had to slightly updated it for it to work with angular 11:

In app.module:
[code]

Maybe this could be included in the core code so this additional patch doesn't need to be included?

[2021-01-19 17:58] blasco commented on #120
Wao, it really works like a charm now... amazing. Finally getting 100% with a SSR Angular Universal app with lots of functionality. For many months I thought it was simply impossible, but this is a game changer (thanks to this I don't have to give Next.js a try). I don't understand why this preboot tool is not give more praise in the community, it took me a really long time to find this.

![image]

[2021-01-19 18:07] blasco commented on #120
Mmm it is working very inconsistently though, now it is back to missing the styles... aggg this feels so close hahaha

[2021-02-17 12:17] intellix commented on #75
Since it's the 3 year anniversary that Preboot doesn't support Angular and was abandoned I think the only solution when using Universal is to just display a Loader or fade-out overlay on top of the content to prevent users clicking links and opening new tabs etc

[2021-02-17 22:38] CaerusKaru commented on #75
This project has not been abandoned and fully supports Angular v11 (latest). This issue is the only major issue, and doesn't affect all users. PRs are welcome to fix this issue, unfortunately it's low on our current list of priorities.

[2021-07-08 08:52] laurentgoudet commented on #75
FYI I was profiling our app's performance & looking into ways to optimize it, and I've realized @malengrin's fix is causing an unnecessary style recalculation of the whole `#document`, due to the fact that the server styles removal is scheduled on the next tick of the event loop (`setTimeout()`).

The app is initially rendered on a hidden `div` (1st style recalculation), then when `NgZone` becomes

[2021-07-18 22:51] dominikfryc commented on #75
I finally resolved this issue after almost a year. So here is my solution for anyone having the same problem.

It was only happening when I was using SSR for pages behind authentication in my case. Client-side hydration most likely happens after the application is stable (`ApplicationRef.isStable` in [Angular docs](https://angular.io/api/core/ApplicationRef#is-stable-examples)). In usage notes, yo

[2021-08-26 14:34] leifmarcus opened #135 "Illegal invocation calling window.getComputedStyle"
I included the PrebotModule in an Angular 12 project and I found that the following line breaks, because the call to `getComputedStyle` is Illegal.

https://github.com/angular/preboot/blob/022ce61601772f7df794e93c740f8d54664f0a0a/src/lib/api/event.replayer.ts#L146

The `getComputedStyle` object is set here:
https://github.com/angular/preboot/blob/022ce61601772f7df794e93c740f8d54664f0a0a/src/lib/ap

[2021-09-01 14:26] kvirrik commented on #135
maybe this is caused by angular v.12.2.x. I have the same problem, after updating angular version

[2021-09-03 07:12] jakubsobel commented on #135
I have the same problem, after updating from Angular 11.2.5 to 12.2.0.

[2021-09-03 14:29] boban984 commented on #135
Solved it by using this hack.

Install this package "replace-in-file",
Then create a node script to execute before build.

`const replace = require('replace-in-file');
const options = {
  files: './node_modules/preboot/fesm2015/preboot.js',
  from: 'gcs(serverView).getPropertyValue(\'display\') || \'block\';',
  to: 'serverView ? (gcs(serverView).getPropertyValue(\'display\') || \'block\') : \'blo

[2021-09-08 21:20] maxisam commented on #135
It is caused by 12.2.0. It was fine with 12.1.4.

[2021-09-15 14:56] jsaguet-betclic commented on #135
I encountered the same issue when migrating to 12.2.5.
Had to downgrade to 12.1.4.

@CaerusKaru, @alan-agius4 have you seen this issue ?

[2021-09-27 17:18] dragonflypl commented on #135
I have the same issue after migration to latest angular `12.2.x`

[2021-11-10 17:10] morghim commented on #135
any updates on this ?

[2021-11-11 13:22] internalsystemerror commented on #135
Having the same issue here on `12.2.x`.

[2021-11-19 10:39] lares83 commented on #135
any update about this issue?

[2021-11-22 15:59] jsaguet commented on #135
I submitted a fix in this PR: #146
Let's hope it will be checked soon by @CaerusKaru as this error is also blocking for Angular 13 migration

[2021-12-15 15:49] PascalvdHoek opened #147 "Angular 13 support"
Is there anything known about preboot angular 13 support? Or do you guys have an alternative for this issue?

[2021-12-17 11:07] lares83 commented on #135
do you have any updates about this issue? can @jsaguet 's PR be merged? this issue is blocking us with updating Angular to v13

[2022-01-08 11:56] webberig commented on #135
Problem still present in Angular 13

@boban984 's replace script did not solve it, it does not contain the same replacement as PR #146 .

This is an updated version of the script:

fix_minify.js:
[code]

Took a while. for me to figure out, but after installing this script, you need to clear an Angular build cache:
[code]

After that, it worked for me (confirming #146 will provide the fix)

[2022-02-05 04:46] Judp0m commented on #135
I can confirm that #146 and webberig's comment resolved the issue in my case.
Hopefully it gets officially patched soon, so that the hacky node script can be removed from the codebase.

[2022-02-21 18:27] deshodes commented on #147
Any update on this issue?

[2022-02-23 08:54] lares83 commented on #135
any update about this issue?

[2022-03-09 03:40] hiepxanh commented on #135
I dont have problem with angular 13, can you test it again? what function do you call?

[2022-03-09 04:18] hiepxanh commented on #115
ok have the samee problem, it have two angular application, after preboot complete, it hidden server app, which have inline style, and show the angular bootstrap app, which missing the server style. I see the problem now
![image](https://user-images.githubusercontent.com/16970990/157371741-647aca2a-c527-411d-86e4-93d6d56c9ce9.png)

[2022-03-09 04:18] hiepxanh commented on #135
ok I see the problem now, basicly, the preboot canot useable sorry to say that

[2022-03-29 14:34] pavelrazuvalau commented on #135
I removed preboot from my project as I used it only for fixing page flickering. Seems it doesn't actively maintained and instead of applying workarounds I just implemented my own solution for showing overlay. The idea is pretty simple:

app.module.ts
[code]

[code]

[2022-03-29 22:57] hiepxanh commented on #135
Good that really nice, i will try it

[2022-04-20 08:00] rezonant commented on #135
It's unclear how this is related to Angular versions, it is illegal to call getComputedStyle() with `this` other than `window`...

[code]

Perhaps this code path wasn't being hit at all before?

In any case, I hope the PR can be merged soon. In the mean time, it is pretty easy to apply the fix and build the package yourself (just edit lib/package.json for your package name, run `npm run build`, an

[2022-05-06 04:12] hiepxanh commented on #135
@pavelrazuvalau  your work is great, I used in my production build and it very smoooooooooooooooooooooooooooooooth

[2022-05-12 10:23] lares83 commented on #135
any news about this issue?

[2022-06-09 14:11] alfmos commented on #147
I second that. any plan to make it compatible with Ivy?

[2022-06-10 01:43] hiepxanh commented on #147
you dont need this library if you only want to remove the flick, just use this https://github.com/angular/preboot/issues/135#issuecomment-1081950340

[2022-06-20 13:52] andreypelykh commented on #147
Also, this solution works fine https://github.com/angular/preboot/issues/135#issuecomment-1007969876 on Angular 14.

[2022-09-06 14:31] HamzaMoiyadi commented on #135
Can you explain the logic behind this? I have tried integrating the same, however post-deployment it fails to work. It works on local serving however.

[2022-09-07 02:51] hiepxanh commented on #135
it basicly do the same as preboot do:
- render html with no js
- angular jump in, remove previous html,
- after some milisecond, rerender the html, and replace it => this cause flick
The solution:
- render html with no js
- angular jump in, rerender the html
- after some milisecond, rerender the html, and replace it => this cause flick
===> so we not remove it too soon, we just keep it there until

[2022-09-15 13:20] HamzaMoiyadi commented on #135
Beautiful
Thanks @hiepxanh !